openapi: 3.0.0
info:
  version: 1.0.0
  title: Porter API
  description: API for interfacing with porter.run
  contact:
    name: Porter
    email: support@porter.run
    url: https://porter.run
servers:
  - url: https://dashboard.porter.run
  - url: http://localhost:7835
  - url: http://localhost:3000
security:
  - cookieAuth: []
  - bearerAuth: []
tags:
  - name: Applications
    description: Manage Porter applications and services.
  - name: Deployment Targets
    description: Manage Porter deployment targets.
  - name: Jobs
    description: Manage Porter jobs.
  - name: Environment Groups
    description: Manage environment variables, environment files, and secrets for Porter applications and services.
  - name: Clusters
    description: Manage Porter clusters.
  - name: Helm
    description: Manage Helm charts and default values.
  - name: GitHub
    description: Manage GitHub integrations and repository analysis.
  - name: Narvi
    description: Remote Docker builds powered by BuildKit.
  - name: Api Audit Logs
    description: Query the per-request audit log of API traffic.
  - name: Metadata
    description: Global Porter metadata, such as control plane egress IPs to allowlist.
paths:
  /api/v2/auth/session:
    get:
      x-scalar-ignore: true
      summary: Get session
      description: Encodes the provided access token into a cookie to be used for OAuth flows.
      operationId: auth_session
      security:
        - bearerAuth:
            - viewer
      responses:
        '200':
          description: Session encoded successfully
          content:
            application/json:
              schema:
                type: object
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects:
    get:
      x-scalar-ignore: true
      summary: List projects
      description: Returns a list of all projects the user has access to
      operationId: list_projects
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: object
                required:
                  - projects
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/invites:
    parameters:
      - name: project_id
        in: path
        description: Project ID
        required: true
        schema:
          type: integer
    get:
      x-scalar-ignore: true
      summary: List project invites
      description: Returns a list of all active invites for a project
      operationId: list_invites
      security:
        - bearerAuth:
            - viewer
      responses:
        '200':
          description: List of project invites
          content:
            application/json:
              schema:
                type: object
                required:
                  - invites
                properties:
                  invites:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invite'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      x-scalar-ignore: true
      summary: Create project invite
      description: Creates a new invite for a user to join a project
      operationId: create_invite
      security:
        - bearerAuth:
            - admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - emails
                - kind
              properties:
                emails:
                  type: array
                  items:
                    type: string
                    format: email
                  description: Email addresses of the users to invite
                  minItems: 1
                  maxItems: 50
                  example:
                    - user@example.com
                kind:
                  $ref: '#/components/schemas/RolePermission'
      responses:
        '200':
          description: Invites created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - invites
                  - failed_emails
                properties:
                  invites:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invite'
                  failed_emails:
                    type: array
                    items:
                      type: string
                      format: email
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/invites/{invite_id}:
    parameters:
      - name: project_id
        in: path
        description: Project ID
        required: true
        schema:
          type: integer
      - name: invite_id
        in: path
        description: Invite ID
        required: true
        schema:
          type: integer
    delete:
      x-scalar-ignore: true
      summary: Delete project invite
      description: Deletes an existing project invite
      operationId: delete_invite
      security:
        - bearerAuth:
            - admin
      responses:
        '200':
          description: Invite deleted successfully
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/members:
    parameters:
      - name: project_id
        in: path
        description: Project ID to list members for
        required: true
        schema:
          type: integer
    get:
      x-scalar-ignore: true
      summary: List project members
      description: Returns all members of a project with their roles and user information
      operationId: list_project_members
      security:
        - bearerAuth:
            - viewer
      responses:
        '200':
          description: List of project members
          content:
            application/json:
              schema:
                type: object
                required:
                  - members
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectMember'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/roles/{role_id}:
    parameters:
      - name: project_id
        in: path
        description: Project ID
        required: true
        schema:
          type: integer
      - name: role_id
        in: path
        description: Role ID of the member whose role should be updated
        required: true
        schema:
          type: integer
    put:
      x-scalar-ignore: true
      summary: Update project member role
      description: Updates the role of a project member
      operationId: update_project_member_role
      security:
        - bearerAuth:
            - admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
              properties:
                role:
                  $ref: '#/components/schemas/RolePermission'
      responses:
        '200':
          description: Member role updated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - member
                properties:
                  member:
                    $ref: '#/components/schemas/ProjectMember'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      x-scalar-ignore: true
      summary: Delete project member
      description: Deletes a project member
      operationId: delete_project_member
      security:
        - bearerAuth:
            - admin
      responses:
        '204':
          description: Member deleted successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/sessions:
    parameters:
      - name: project_id
        in: path
        description: Project ID
        required: true
        schema:
          type: integer
    get:
      x-scalar-ignore: true
      summary: List active sessions for all members of a project
      description: |
        Returns the active sessions for every member of the project, each
        annotated with the member it belongs to. Caller must be a project admin.
        Porter staff sessions are included only when the caller is also Porter
        staff; otherwise they are filtered out.
      operationId: list_project_sessions
      security:
        - bearerAuth:
            - admin
      responses:
        '200':
          description: List of active sessions across all members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSessionsResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/sessions/revoke:
    parameters:
      - name: project_id
        in: path
        description: Project ID
        required: true
        schema:
          type: integer
    post:
      x-scalar-ignore: true
      summary: Revoke multiple project member sessions
      description: |
        Bulk-revokes the listed sessions, potentially across multiple members.
        Caller must be a project admin. Each target's owning member must have a
        role in the project, and — critically — Porter staff sessions can only
        be revoked by other Porter staff, so customer admins cannot disrupt
        Porter support access. Targets that fail these checks (or are unknown)
        are counted as failed rather than aborting the whole request.
      operationId: revoke_project_sessions
      security:
        - bearerAuth:
            - admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeProjectSessionsRequest'
      responses:
        '200':
          description: Revocation summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeProjectSessionsResult'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/invite/{token}:
    parameters:
      - name: token
        in: path
        description: Invite token
        required: true
        schema:
          type: string
    post:
      x-scalar-ignore: true
      summary: Accept project invite
      description: Accepts a project invite using the invite token for authenticated users
      operationId: accept_invite
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Invite accepted successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      x-scalar-ignore: true
      summary: Get invite
      description: Returns project name and invitee email if invite is valid
      operationId: get_invite
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Valid invite information
          content:
            application/json:
              schema:
                type: object
                required:
                  - target_email
                  - project_name
                properties:
                  target_email:
                    type: string
                    format: email
                    description: Email address the invite was sent to
                  project_name:
                    type: string
                    description: Name of the project being invited to
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/user/invites:
    get:
      x-scalar-ignore: true
      summary: List current user's valid invites
      description: Returns valid invites for the authenticated user. Email is automatically determined from authentication context.
      operationId: list_user_invites
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of invites
          content:
            application/json:
              schema:
                type: object
                required:
                  - invites
                properties:
                  invites:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invite'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/user/logout:
    post:
      x-scalar-ignore: true
      summary: Logout user
      description: Revokes the current session for the authenticated user
      operationId: logout_user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User logged out successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/user:
    delete:
      x-scalar-ignore: true
      summary: Delete user account
      description: Permanently deletes the authenticated user's account and all associated data. This action cannot be undone.
      operationId: delete_user
      security:
        - bearerAuth: []
      tags:
        - Users
      responses:
        '204':
          description: User account deleted successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/user/sessions:
    get:
      x-scalar-ignore: true
      summary: List the authenticated user's active sessions
      description: |
        Returns the user's active Porter sessions (browser and CLI). The session
        the caller is currently using is flagged with `is_current=true` so the UI
        can warn before revoking it.
      operationId: list_user_sessions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of active sessions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSessionsResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/user/sessions/{session_id}:
    parameters:
      - name: session_id
        in: path
        description: Session identifier returned by GET /api/v2/user/sessions
        required: true
        schema:
          type: string
    delete:
      x-scalar-ignore: true
      summary: Revoke one of the authenticated user's sessions
      description: |
        Revokes the named session for the authenticated user. The session is
        invalidated immediately, ending the bearer token's usefulness.
      operationId: revoke_user_session
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Session revoked
        '404':
          description: Session does not belong to the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/sleep:
    get:
      x-scalar-ignore: true
      summary: Sleep for testing
      description: Sleeps for the specified number of seconds and returns a confirmation message. Useful for verifying graceful shutdown of the server.
      operationId: sleep
      security:
        - bearerAuth: []
      parameters:
        - name: seconds
          in: query
          required: true
          description: Number of seconds to sleep (0-300)
          schema:
            type: integer
            minimum: 0
            maximum: 300
      responses:
        '200':
          description: Successfully completed sleep
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    description: Confirmation message
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/metadata/control-plane-ips:
    get:
      summary: Get Porter control plane IPs
      description: Returns the Porter control plane egress CIDRs to allowlist for Kubernetes API (control plane) access.
      operationId: get_control_plane_ips
      security:
        - bearerAuth: []
      tags:
        - Metadata
      responses:
        '200':
          description: Porter control plane CIDRs
          content:
            application/json:
              schema:
                type: object
                required:
                  - cidrs
                properties:
                  cidrs:
                    type: array
                    description: Porter control plane egress CIDRs to allowlist for Kubernetes API access.
                    items:
                      type: string
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/github/repositories:
    get:
      parameters:
        - name: project_id
          in: path
          description: Project ID to list GitHub repositories for
          required: true
          schema:
            type: integer
            minimum: 0
      summary: List GitHub Repositories For Project
      description: Lists all GitHub repositories connected to a project
      operationId: list_project_github_repositories
      x-scalar-ignore: true
      tags:
        - GitHub
      security:
        - bearerAuth:
            - viewer
      responses:
        '200':
          description: GitHub repositories retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - repositories
                properties:
                  repositories:
                    type: array
                    items:
                      $ref: '#/components/schemas/GitHubRepository'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      parameters:
        - name: project_id
          in: path
          description: Project ID to connect GitHub repository to
          required: true
          schema:
            type: integer
            minimum: 0
      summary: Connect GitHub Repository To Project
      description: Connects a GitHub repository to a project after validating that a user has access
      operationId: connect_github_repository
      x-scalar-ignore: true
      tags:
        - GitHub
      security:
        - bearerAuth:
            - developer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - github_repository_name
                - github_account_name
              properties:
                github_repository_name:
                  type: string
                  description: GitHub repository in format 'owner/repo'
                  pattern: ^[a-zA-Z0-9._-]+/[a-zA-Z0-9._-]+$
                  example: example/test
                github_account_name:
                  type: string
                  description: Name of the GitHub account to connect to
                  example: example
      responses:
        '200':
          description: GitHub repository connected successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - github_pr_url
                properties:
                  github_pr_url:
                    type: string
                    description: URL for the pull request to create the build workflow file
                    example: https://github.com/example/test/pull/123
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/github/repositories/{github_repository_name}/pull-requests:
    get:
      x-scalar-ignore: true
      summary: List pull requests in a GitHub repository
      description: Returns a list of pull requests in a GitHub repository
      operationId: list_github_repository_pull_requests
      tags:
        - GitHub
      security:
        - bearerAuth:
            - viewer
      parameters:
        - name: project_id
          in: path
          description: Project ID that the GitHub repository is connected to
          required: true
          schema:
            type: integer
        - name: github_repository_name
          in: path
          description: Name of the GitHub repository
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of pull requests in the GitHub repository
          content:
            application/json:
              schema:
                type: object
                required:
                  - pull_requests
                properties:
                  pull_requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/GitHubPullRequest'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/github/repositories/{github_repository_name}/build:
    post:
      parameters:
        - name: project_id
          in: path
          description: Project ID that GitHub repository is connected to
          required: true
          schema:
            type: integer
            minimum: 0
            example: 123
        - name: github_repository_name
          in: path
          description: Name of the GitHub repository to create a build for
          required: true
          schema:
            type: string
            example: repo-owner/repo-name
      summary: Create a build for a GitHub repository
      description: Creates a build for a GitHub repository
      operationId: build_github_repository
      x-scalar-ignore: true
      tags:
        - GitHub
      security:
        - bearerAuth:
            - developer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - commit_sha
                - build_settings_id
                - registry_urls
              properties:
                commit_sha:
                  type: string
                  description: Commit SHA to build
                  example: fa9c6f358b792d214cff5c095f52eed4a70b7259
                build_settings_id:
                  type: string
                  format: uuid
                  x-go-type: uuid.UUID
                  description: ID of the build settings to use for the build
                  example: 123e4567-e89b-12d3-a456-426614174000
                registry_urls:
                  type: array
                  description: URLs of the image repositories to push the built image to
                  items:
                    type: string
                  example:
                    - 012345678901.dkr.ecr.us-east-1.amazonaws.com
      responses:
        '200':
          description: Build created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/github/accounts/{github_account_name}/repositories/{github_repository_name}/stack-detect:
    post:
      x-scalar-ignore: true
      summary: Repository stack detection
      description: analyzes a Github repository to detect applications, frameworks, and deployment configuration
      operationId: stack_detect
      security:
        - bearerAuth: []
      parameters:
        - name: github_repository_name
          in: path
          required: true
          schema:
            type: string
            description: GitHub repository in format 'owner/repo'
            pattern: ^[a-zA-Z0-9._-]+/[a-zA-Z0-9._-]+$
            example: example/test
        - name: github_account_name
          in: path
          required: true
          schema:
            type: string
            description: Name of the GitHub account to connect to
            example: example
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - branch
              properties:
                branch:
                  type: string
                  description: Git branch to analyze
                  example: main
                project_id:
                  type: integer
                  format: int64
                  description: Project ID to check for already-deployed apps (optional, enables deployment annotation)
                  example: 123
                cluster_id:
                  type: integer
                  format: int64
                  description: Cluster ID to check for already-deployed apps (optional, enables deployment annotation)
                  example: 456
      responses:
        '200':
          description: Repository Stack Detection Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StackDetectionResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/services:
    parameters:
      - name: project_id
        in: path
        description: Project ID to filter services by
        required: true
        schema:
          type: integer
    get:
      x-scalar-ignore: true
      summary: List services
      description: Returns resources that Porter manages such as clusters, databases, applications, etc.
      operationId: list_services
      security:
        - bearerAuth:
            - viewer
      parameters:
        - name: type
          in: query
          description: Filter services by type
          required: false
          schema:
            $ref: '#/components/schemas/ServiceType'
        - name: id
          in: query
          description: Filter services by uid
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter services by status
          required: false
          schema:
            $ref: '#/components/schemas/ServiceStatus'
        - name: preview
          in: query
          description: Filter services by preview status. If true, only returns preview services. Otherwise returns non-preview services.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: List of services
          content:
            application/json:
              schema:
                type: object
                required:
                  - services
                properties:
                  services:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      x-scalar-ignore: true
      summary: Update service
      description: Updates an existing service in Porter
      tags:
        - experimental
      operationId: update_service
      security:
        - bearerAuth:
            - developer
      requestBody:
        description: Service update details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateServiceRequest'
      responses:
        '200':
          description: Service updated successfully
          content:
            application/json:
              schema:
                type: object
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      x-scalar-ignore: true
      summary: Delete service
      description: Deletes an existing service in Porter
      tags:
        - experimental
      operationId: delete_service
      security:
        - bearerAuth:
            - developer
      parameters:
        - name: id
          in: query
          description: Filter services by uid
          required: true
          schema:
            type: string
        - name: type
          in: query
          description: Filter services by type
          required: true
          schema:
            $ref: '#/components/schemas/ServiceType'
      responses:
        '200':
          description: Service deleted successfully
          content:
            application/json:
              schema:
                type: object
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/services/validate:
    parameters:
      - name: project_id
        in: path
        description: Project ID to validate services for
        required: true
        schema:
          type: integer
    post:
      x-scalar-ignore: true
      summary: Validate the configuration of a service
      description: Validates the proposed update to a service
      tags:
        - experimental
      operationId: validate_service
      security:
        - bearerAuth:
            - developer
      requestBody:
        description: Service update details to validate
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateServiceRequest'
      responses:
        '200':
          description: Service update validated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceValidation'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clusters:
    parameters:
      - name: project_id
        in: path
        description: Project ID to filter clusters by
        required: true
        schema:
          type: integer
    get:
      x-scalar-ignore: true
      summary: List clusters
      description: Returns all clusters in the project that the user has access to
      operationId: list_clusters
      security:
        - bearerAuth:
            - viewer
      responses:
        '200':
          description: List of clusters
          content:
            application/json:
              schema:
                type: object
                required:
                  - clusters
                properties:
                  clusters:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cluster'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/alpha/projects/{project_id}/clusters:
    get:
      operationId: list_project_clusters
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - viewer
      tags:
        - Clusters
      summary: List clusters for a project
      description: Retrieves cluster summaries for a project.
      parameters:
        - name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
      responses:
        '200':
          description: Clusters retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClustersListResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: create_cluster
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - admin
      tags:
        - Clusters
      summary: Create a cluster
      description: Provisions a cluster from a name, region, and cloud account. Porter selects the cloud provider, Kubernetes version, and node groups.
      parameters:
        - name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterRequestBody'
      responses:
        '201':
          description: Cluster created and provisioning started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClusterResult'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/alpha/projects/{project_id}/clusters/{cluster_id}:
    parameters:
      - name: project_id
        in: path
        description: Project ID that the cluster belongs to
        required: true
        schema:
          type: integer
      - name: cluster_id
        in: path
        description: Cluster ID
        required: true
        schema:
          type: integer
    patch:
      x-scalar-ignore: true
      summary: Partially update cluster configuration
      description: Partially updates the cluster contract.
      operationId: patch_cluster
      tags:
        - Clusters
      security:
        - bearerAuth:
            - admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchClusterRequestBody'
      responses:
        '200':
          description: Cluster configuration partially updated successfully
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      x-scalar-ignore: true
      summary: Delete a cluster
      description: |
        Initiates cluster deletion. The cluster must have no applications still
        running on it; otherwise the request is rejected with the blocking
        resources. On success Porter begins tearing the cluster down
        asynchronously and it moves to the deleting state.
      operationId: delete_cluster
      tags:
        - Clusters
      security:
        - bearerAuth:
            - admin
      responses:
        '202':
          description: |
            Teardown accepted. Also returned when teardown was already underway.
        '409':
          description: |
            The cluster still has active resources running on it and cannot be
            deleted until they are removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterDependents'
        default:
          description: |
            Error. 404 if the cluster does not exist in the project, 500 otherwise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/preflight:
    get:
      operationId: preflight_check_cloud_account
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - viewer
      tags:
        - Cloud Accounts
      summary: Check if Porter is authorized to access a cloud account
      description: |
        Validates cloud credentials without registering the account. Returns whether Porter can successfully assume the necessary roles.
      parameters:
        - name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: integer
            minimum: 1
          example: 123
        - name: cloud_provider
          in: query
          description: Cloud provider kind
          required: true
          schema:
            $ref: '#/components/schemas/CloudProvider'
          example: aws
        - name: account_id
          in: query
          description: Cloud provider account id (AWS account ID, GCP project ID, or Azure subscription ID)
          required: true
          schema:
            type: string
          example: '123456789012'
      responses:
        '200':
          description: Preflight check completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreflightCheckResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/alpha/projects/{project_id}/cloud-accounts:
    get:
      operationId: list_project_cloud_accounts
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - viewer
      tags:
        - Cloud Accounts
      summary: List cloud accounts for a project
      description: Retrieves cloud account summaries for a project.
      parameters:
        - name: project_id
          in: path
          description: Project ID
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
      responses:
        '200':
          description: Cloud accounts retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAccountsListResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/cloud-accounts/{cloud_account_id}/regions:
    get:
      operationId: list_cloud_account_regions
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - viewer
      tags:
        - Cloud Accounts
      summary: List supported regions for a cloud account
      description: Regions a cluster can be provisioned into with this cloud account.
      parameters:
        - name: project_id
          in: path
          description: Project ID that the cloud account belongs to
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
        - name: cloud_account_id
          in: path
          description: Cloud account ID to list regions for
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Regions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAccountRegionsListResponse'
        default:
          description: |
            Error. 400 if the project or cloud account ID is invalid, 404 if the
            cloud account does not exist, 500 otherwise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds:
    post:
      operationId: create_cloud_account
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      tags:
        - Cloud Accounts
      summary: Create a cloud account
      description: |
        Registers a cloud account with Porter. This will fail if the account has not been configured properly to support connection.
      parameters:
        - name: project_id
          in: path
          description: Project ID to create the cloud account for
          required: true
          schema:
            type: integer
            minimum: 1
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCloudAccountRequest'
      responses:
        '200':
          description: Cloud account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCloudAccountResponseBody'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/{cloud_account_id}:
    get:
      operationId: get_cloud_account
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - viewer
      tags:
        - Cloud Accounts
      summary: Get cloud account with IAM resource status
      description: |
        Retrieves a specific cloud account.
      parameters:
        - name: project_id
          in: path
          description: Project ID that the cloud account belongs to
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
        - name: cloud_account_id
          in: path
          description: Cloud account ID to retrieve
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Cloud account retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAccountWithStatus'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: update_cloud_account
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      tags:
        - Cloud Accounts
      summary: Update cloud account
      description: |
        Re-runs the role creation and syncing steps for an existing cloud account.
      parameters:
        - name: project_id
          in: path
          description: Project ID that the cloud account belongs to
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
        - name: cloud_account_id
          in: path
          description: Cloud account ID to reconnect
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCloudAccountRequest'
      responses:
        '200':
          description: Update initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCloudAccountResponseBody'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/{cloud_account_id}/dependents:
    get:
      operationId: list_cloud_account_dependents
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - viewer
      tags:
        - Cloud Accounts
      summary: List active resources referencing a cloud account
      description: |
        Returns the active clusters, object storage buckets, and environment
        groups that still reference the cloud account. Empty arrays mean the
        account has no dependents.
      parameters:
        - name: project_id
          in: path
          description: Project ID that the cloud account belongs to
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
        - name: cloud_account_id
          in: path
          description: Cloud account ID to check for dependents
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Dependents retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAccountBlockedBy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/{cloud_account_id}/rename:
    patch:
      operationId: rename_cloud_account
      summary: Rename cloud account
      description: Updates the vanity name of an existing cloud account
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      tags:
        - Cloud Accounts
      parameters:
        - name: project_id
          in: path
          description: Project ID that the cloud account belongs to
          required: true
          schema:
            type: integer
          example: 123
        - name: cloud_account_id
          in: path
          description: Cloud account ID to rename
          required: true
          schema:
            type: string
            format: uuid
            x-go-type: uuid.UUID
          example: 123e4567-e89b-12d3-a456-426614174000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: New display name for the cloud account
                  example: my-aws-account
                  minLength: 1
                  maxLength: 63
      responses:
        '200':
          description: Cloud account renamed successfully
          content:
            application/json:
              schema:
                type: object
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/{cloud_account_id}/validate/quota:
    post:
      x-scalar-ignore: true
      summary: Validate AWS quota for cluster creation
      description: Checks if the AWS account has sufficient quota to deploy a new cluster based on the provided cluster contract
      operationId: validate_quota
      tags:
        - Clusters
      security:
        - bearerAuth:
            - developer
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
          description: Project ID
        - name: cloud_account_id
          in: path
          description: Cloud account ID to retrieve
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterContract'
      responses:
        '200':
          description: Quota validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateQuotaResponseBody'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/{cloud_account_id}/quota-requests:
    get:
      x-scalar-ignore: true
      summary: List quota increase requests
      description: Lists pending and denied quota increase requests for a specific AWS cloud account in the specified region
      operationId: list_quota_requests
      security:
        - bearerAuth:
            - developer
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
          description: Project ID
        - name: cloud_account_id
          in: path
          description: Cloud account ID
          required: true
          schema:
            type: string
            format: uuid
            x-go-type: uuid.UUID
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: region
          in: query
          required: true
          schema:
            type: string
          description: AWS region to check quota requests in
      responses:
        '200':
          description: Quota requests list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQuotaRequestsResponseBody'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/{cloud_account_id}/account-plan-state:
    get:
      x-scalar-ignore: true
      summary: Get cloud account plan state
      description: Gets the plan state for a given cloud account connected to Porter. This is useful for determining appropriate cluster configurations based on the account's plan. Note that this is currently implemented only for AWS.
      operationId: get_cloud_account_plan_state
      tags:
        - Cloud Accounts
      security:
        - bearerAuth:
            - viewer
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
          description: Project ID
        - name: cloud_account_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Cloud account ID
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Cloud account plan state retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudAccountPlanStateResponseBody'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/validate/cidr:
    get:
      x-scalar-ignore: true
      summary: Validate CIDR ranges for cluster creation
      description: Checks if the provided VPC and service CIDR ranges are available and do not conflict with existing resources in the specified region. Returns suggestions if conflicts are detected.
      operationId: validate_cidr
      tags:
        - Clusters
      security:
        - bearerAuth:
            - developer
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
          description: Project ID
        - name: vpc_cidr
          in: query
          required: true
          schema:
            type: string
          description: VPC CIDR range to validate (e.g., 10.78.0.0/16)
        - name: service_cidr
          in: query
          required: true
          schema:
            type: string
          description: Service CIDR range to validate (e.g., 172.20.0.0/16)
      responses:
        '200':
          description: CIDR validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCidrResponseBody'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/azure/wif-setup-command:
    get:
      operationId: get_azure_wif_setup_command
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      tags:
        - Cloud Accounts
      summary: Get Azure WIF setup script command
      description: Returns the shell command to run the Azure WIF setup script, pre-filled for this environment.
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
      responses:
        '200':
          description: Setup command retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAzureWifSetupCommandResponseBody'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/azure:
    post:
      operationId: connect_azure_cloud_account
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      tags:
        - Cloud Accounts
      summary: Connect an Azure cloud account to your project
      description: |
        Connects an Azure cloud account to your project. Validates your Azure App
        Registration configuration and sets up the necessary trust relationship to
        enable secure, secretless authentication.
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectAzureCloudAccountRequest'
      responses:
        '200':
          description: Azure cloud account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectAzureCloudAccountResponseBody'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/gcp:
    post:
      operationId: create_gcp_cloud_account
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      tags:
        - Cloud Accounts
      summary: Initiate GCP cloud account onboarding via Workload Identity Federation
      description: |
        Creates a new GCP cloud account in the initiated state and returns a
        Cloud Shell deeplink + one-line setup command the customer pastes
        into Cloud Shell. The setup command runs `bootstrap.sh` from the
        public porter-dev/gcp-onboarding repo, which calls back to Porter
        with the Terraform outputs to complete onboarding.

        Re-calling for a GCP project that already has an in-progress
        onboarding rotates the verification token while keeping the
        Terraform state path stable. Re-calling for a project that is
        already bootstrapped or onboarded via service-account JSON returns
        409.
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGcpCloudAccountRequest'
      responses:
        '200':
          description: Onboarding initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGcpCloudAccountResponseBody'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/cloud-accounts/{cloud_account_id}:
    delete:
      operationId: delete_cloud_account
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - admin
      tags:
        - Cloud Accounts
      summary: Delete a cloud account
      description: |
        Disconnects a cloud account from the project and revokes Porter's access
        to it. The account must have no clusters, datastores, or environment
        groups still referencing it.
      parameters:
        - name: project_id
          in: path
          description: Project ID that the cloud account belongs to
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
        - name: cloud_account_id
          in: path
          description: Cloud account ID to delete
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '204':
          description: Cloud account deleted
        '409':
          description: |
            The cloud account still has active resources referencing it and
            cannot be disconnected until they are removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAccountDependents'
        default:
          description: |
            Error. 400 if the provider is not supported, 404 if it does not exist,
            500 otherwise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/cloud-accounts/aws:
    post:
      operationId: create_aws_cloud_account
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      tags:
        - Cloud Accounts
      summary: Create an AWS cloud account
      description: |
        Verifies Porter can assume the customer's role (proof the CloudFormation
        stack was applied) and creates the cloud account. Returns 409 while the
        stack has not been applied yet, so the caller can retry.
      parameters:
        - name: project_id
          in: path
          description: Project ID to create the cloud account for
          required: true
          schema:
            type: integer
            minimum: 1
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAwsCloudAccountRequest'
      responses:
        '200':
          description: AWS cloud account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAwsCloudAccountResponseBody'
        '409':
          description: |
            The CloudFormation stack has not been applied yet, so Porter cannot
            assume the customer's role. Retry once the stack is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/cloud-accounts/aws/cloudformation:
    post:
      operationId: create_aws_cloudformation
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      tags:
        - Cloud Accounts
      summary: Get the CloudFormation URL for an AWS account
      description: |
        Returns the AWS console URL the customer applies to grant Porter access.
        Idempotent per account: repeated calls return the same URL.
      parameters:
        - name: project_id
          in: path
          description: Project ID to prepare the cloud account for
          required: true
          schema:
            type: integer
            minimum: 1
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAwsCloudAccountRequest'
      responses:
        '200':
          description: CloudFormation URL returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwsCloudFormationResponseBody'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/{cloud_account_id}/gcp-wif-status:
    get:
      operationId: get_gcp_wif_status
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      tags:
        - Cloud Accounts
      summary: Get the Workload Identity Federation connection status for a GCP cloud account
      description: |
        Returns the current state of the GCP cloud account's Workload
        Identity Federation setup, composed from the wif row (while
        initiating) and the cloud_account row (after the bootstrap
        callback cutover). Read-only; the connect and migrate dialogs
        both poll this on ~2s intervals while open.

        `state` is one of:
          - `none` — no wif row; either an SA-JSON account or a fresh
            flow that hasn't started initiation yet.
          - `initiated` — wif row exists; awaiting bootstrap.sh callback.
          - `syncing` — cutover happened; SyncIam in progress.
          - `connected` — fully provisioned, cloud_account.status = connected.
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
        - name: cloud_account_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 4741dca9-ae17-417b-949e-1a18f91b77d9
      responses:
        '200':
          description: Current WIF connection state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GcpWifStatusResponseBody'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/{cloud_account_id}/migrate-to-wif:
    post:
      operationId: migrate_gcp_cloud_account_to_wif
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      tags:
        - Cloud Accounts
      summary: Migrate an existing GCP cloud account from service-account JSON to Workload Identity Federation
      description: |
        Attaches a fresh Workload Identity Federation row to an existing
        GCP cloud account that is currently authenticated via service-account
        JSON. The response shape is identical to `create_gcp_cloud_account`:
        a Cloud Shell deeplink + setup command the customer pastes into
        Cloud Shell to drive the Terraform-based bootstrap.

        The customer's existing service-account JSON credential is preserved
        on the row throughout migration; their clusters keep working via
        the old path until the WIF bootstrap callback succeeds and Porter
        cuts over to the federated identity.

        Gated by the `gcp_wif_enabled` feature flag. Rejects when the
        target row is not GCP, already has a WIF integration, or has no
        service-account JSON credential to migrate from.
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
        - name: cloud_account_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 4741dca9-ae17-417b-949e-1a18f91b77d9
      responses:
        '200':
          description: Migration initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGcpCloudAccountResponseBody'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/{cloud_account_id}/migrate-to-fic:
    post:
      operationId: migrate_azure_cloud_account_to_fic
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      tags:
        - Cloud Accounts
      summary: Migrate an existing Azure cloud account from a client secret to federated identity credentials
      description: |
        Kicks off the asynchronous migration of an Azure cloud account from a
        long-lived client secret to federated identity credentials.
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
        - name: cloud_account_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 4741dca9-ae17-417b-949e-1a18f91b77d9
      responses:
        '202':
          description: Migration enqueued
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/{cloud_account_id}/azure-fic-migration-status:
    get:
      operationId: get_azure_FIC_migration_status
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      tags:
        - Cloud Accounts
      summary: Get the FIC migration status for an Azure cloud account
      description: |
        Read-only state of an Azure cloud account's federated identity
        credentials migration.
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
        - name: cloud_account_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 4741dca9-ae17-417b-949e-1a18f91b77d9
      responses:
        '200':
          description: Current migration state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureFICMigrationStatusResponseBody'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clouds/{cloud_account_id}/dismiss-azure-secret-warning:
    post:
      operationId: dismiss_azure_secret_warning
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      tags:
        - Cloud Accounts
      summary: Dismiss the post-migration Azure secret warning
      description: |
        Records that the customer dismissed the banner warning that their
        Azure-side client secret still exists after migrating to federated
        identity credentials.
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 123
        - name: cloud_account_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 4741dca9-ae17-417b-949e-1a18f91b77d9
      responses:
        '204':
          description: Warning dismissed
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/clouds/gcp/{cloud_account_id}/details:
    post:
      operationId: get_gcp_cloud_account_details
      x-scalar-ignore: true
      tags:
        - Cloud Accounts
      summary: Fetch per-tenant onboarding config for a GCP WIF integration
      description: |
        Read-only endpoint the customer's Cloud Shell session calls at the
        start of `bootstrap.sh` to fetch the per-tenant configuration the
        Terraform module needs (GCP project ID, tenant external ID,
        Porter AWS account / role).

        Authenticated by the per-integration verification_token in the
        request body, not by a Porter user session — the Cloud Shell
        session has no Porter identity. The token is NOT consumed by this
        endpoint; multiple calls before bootstrap completes are idempotent.
      parameters:
        - name: cloud_account_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetGcpCloudAccountDetailsRequest'
      responses:
        '200':
          description: Details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGcpCloudAccountDetailsResponseBody'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/clouds/gcp/{cloud_account_id}/bootstrap:
    post:
      operationId: bootstrap_gcp_cloud_account
      x-scalar-ignore: true
      tags:
        - Cloud Accounts
      summary: Complete GCP Workload Identity Federation onboarding
      description: |
        Called by the customer's Cloud Shell session at the end of
        `bootstrap.sh` after the Terraform apply succeeds. Carries the
        Terraform outputs (project number, service-account email, workload
        identity provider name) so Porter can resolve the federated
        credentials.

        Authenticated by the per-integration verification_token in the
        request body. The token is consumed on success — subsequent calls
        return 409.
      parameters:
        - name: cloud_account_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BootstrapGcpCloudAccountRequest'
      responses:
        '204':
          description: Onboarding bootstrap accepted
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clusters/{cluster_id}/status:
    get:
      x-scalar-ignore: true
      summary: Get cluster resource status
      description: Returns provisioning status for the cluster's underlying cloud resources and system components.
      operationId: get_cluster_status
      tags:
        - Clusters
      security:
        - bearerAuth:
            - viewer
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: integer
          description: Project ID
        - name: cluster_id
          in: path
          required: true
          schema:
            type: integer
          description: Cluster ID
      responses:
        '200':
          description: Cluster resource statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterResourceStatus'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clusters/{cluster_id}/metadata:
    parameters:
      - name: project_id
        in: path
        description: Project ID that the cluster belongs to
        required: true
        schema:
          type: integer
      - name: cluster_id
        in: path
        description: Cluster ID to get metadata for
        required: true
        schema:
          type: integer
    get:
      summary: Get cluster metadata
      description: |
        Returns cluster metadata (e.g. cluster-scoped feature flags). Structure is extensible.
      operationId: get_cluster_metadata
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      responses:
        '200':
          description: Cluster metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterMetadata'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/clusters/{cluster_id}/kubeconfig:
    parameters:
      - name: project_id
        in: path
        description: Project ID that the cluster belongs to
        required: true
        schema:
          type: integer
      - name: cluster_id
        in: path
        description: Cluster ID to get kubeconfig for
        required: true
        schema:
          type: integer
      - name: command
        in: query
        description: Command ran on the cluster. This is purely informational
        required: false
        schema:
          type: string
    get:
      summary: Gets the kubeconfig for a cluster identified by cluster_id
      description: |
        Returns a kubeconfig for the specified cluster. This endpoint does not support clusters in legacy projects.
      operationId: kube_config
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      responses:
        '200':
          description: Kubeconfig
          content:
            application/json:
              schema:
                type: object
                required:
                  - kubeconfig
                properties:
                  kubeconfig:
                    type: string
                    description: Returns a kubeconfig that can be used to connect to the cluster.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/migrations:
    parameters:
      - name: project_id
        in: path
        description: project id to filter by
        required: true
        schema:
          type: integer
    get:
      x-scalar-ignore: true
      summary: List migrations
      tags:
        - experimental
      description: Returns a list of all migrations and their current status.
      operationId: list_migrations
      security:
        - bearerAuth:
            - developer
      responses:
        '200':
          description: List of migrations retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - migrations
                properties:
                  migrations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Migration'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      x-scalar-ignore: true
      summary: Apply migration
      tags:
        - experimental
      description: Applies a new migration as specified by the provided migration plan. Returns a migration ID for tracking progress.
      operationId: apply_migration
      security:
        - bearerAuth:
            - developer
      requestBody:
        description: Migration plan details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrationPlan'
      responses:
        '200':
          description: Migration job created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - migration_id
                properties:
                  migration_id:
                    type: string
                    description: Unique identifier of the created migration
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/apps:
    parameters:
      - name: project_id
        in: path
        description: Project ID to filter apps by
        required: true
        schema:
          type: integer
      - name: cluster_id
        in: query
        description: Optional cluster ID to filter apps by
        required: false
        schema:
          type: integer
    get:
      x-scalar-ignore: true
      summary: List applications
      description: Returns all applications in the project that the user has access to, optionally filtered by cluster
      operationId: list_apps
      security:
        - bearerAuth:
            - viewer
      responses:
        '200':
          description: List of applications
          content:
            application/json:
              schema:
                type: object
                required:
                  - apps
                properties:
                  apps:
                    type: array
                    items:
                      $ref: '#/components/schemas/App'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/alpha/projects/{project_id}/applications:
    get:
      parameters:
        - name: project_id
          in: path
          description: Project ID to filter applications by
          required: true
          schema:
            type: integer
        - name: deployment_target_id
          in: query
          description: Deployment target ID to filter applications by
          required: false
          schema:
            type: string
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: name
          in: query
          description: Optional filter for application name, will attempt to match any part of the name (case insensitive)
          required: false
          schema:
            type: string
          example: my-app
        - name: created_before
          in: query
          description: Optional filter for application creation time, will return applications created before this time, defaults to now
          required: false
          schema:
            type: string
            format: date-time
          example: '2025-01-01T00:00:00Z'
        - name: limit
          in: query
          description: Optional limit for number of applications to return, defaults to 10, max is 100
          required: false
          schema:
            type: integer
          example: 15
      x-scalar-stability: experimental
      tags:
        - Applications
      summary: List applications
      description: Returns all applications in the project that the user has access to, with optional filters
      operationId: list_applications
      security:
        - bearerAuth:
            - viewer
      responses:
        '200':
          description: List of applications
          content:
            application/json:
              schema:
                type: object
                required:
                  - applications
                properties:
                  applications:
                    type: array
                    items:
                      $ref: '#/components/schemas/ListApplicationsItem'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      parameters:
        - name: project_id
          in: path
          description: Project ID to create an application in
          required: true
          schema:
            type: integer
            format: int64
      summary: Create application
      description: Creates a new application in the project
      operationId: create_application
      security:
        - bearerAuth:
            - developer
      x-scalar-stability: experimental
      tags:
        - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequestBody'
      responses:
        '200':
          description: Application created
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                properties:
                  id:
                    type: string
                    format: uuid
                    example: 123e4567-e89b-12d3-a456-426614174000
                    description: Unique identifier of the created application
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/alpha/projects/{project_id}/applications/{application_id}:
    get:
      parameters:
        - name: project_id
          in: path
          description: Project ID that the app belongs to
          required: true
          schema:
            type: integer
        - name: application_id
          in: path
          description: ID of the application
          required: true
          schema:
            type: string
            format: uuid
      summary: Get application
      description: Returns an application by its ID
      operationId: get_application
      security:
        - bearerAuth:
            - viewer
      x-scalar-stability: experimental
      tags:
        - Applications
      responses:
        '200':
          description: Application retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApplicationResponseBody'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      parameters:
        - name: project_id
          in: path
          description: Project ID that the app belongs to
          required: true
          schema:
            type: integer
            format: int64
        - name: application_id
          in: path
          description: ID of the application to update
          required: true
          schema:
            type: string
            format: uuid
      summary: Update application
      description: Updates an existing application
      operationId: update_application
      security:
        - bearerAuth:
            - developer
      x-scalar-stability: experimental
      tags:
        - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationRequestBody'
      responses:
        '200':
          description: Application updated successfully
          content:
            application/json:
              schema:
                type: object
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      parameters:
        - name: project_id
          in: path
          description: Project ID that the app belongs to
          required: true
          schema:
            type: integer
          example: 123
        - name: application_id
          in: path
          description: ID of the application
          required: true
          schema:
            type: string
            format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      summary: Delete application
      description: Deletes an existing application
      operationId: delete_application
      security:
        - bearerAuth:
            - developer
      x-scalar-stability: experimental
      tags:
        - Applications
      responses:
        '200':
          description: Application successfully deleted
          content:
            application/json:
              schema:
                type: object
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      parameters:
        - name: project_id
          in: path
          description: Project ID that the app belongs to
          required: true
          schema:
            type: integer
            format: int64
        - name: application_id
          in: path
          description: ID of the application to patch
          required: true
          schema:
            type: string
            format: uuid
            x-go-type: uuid.UUID
        - name: dry_run
          in: query
          description: When true, validates the patch request without applying changes. Useful for testing configuration changes before committing them.
          required: false
          schema:
            type: boolean
      summary: Patch application
      description: Partially updates an existing application's configuration. Only fields provided in the request body will be updated.
      operationId: patch_application
      security:
        - bearerAuth:
            - developer
      x-scalar-stability: experimental
      tags:
        - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchApplicationRequestBody'
      responses:
        '200':
          description: Application patched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApplicationResponseBody'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/alpha/projects/{project_id}/applications/proto:
    post:
      parameters:
        - name: project_id
          in: path
          description: Project ID that the app belongs to
          required: true
          schema:
            type: integer
      x-scalar-ignore: true
      summary: Convert application to proto
      description: Converts the provided application to a base64-encoded PorterApp proto
      operationId: convert_application_to_proto
      security:
        - bearerAuth:
            - viewer
      x-scalar-stability: experimental
      tags:
        - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetApplicationResponseBody'
      responses:
        '200':
          description: Application proto generated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - b64_app_proto
                properties:
                  b64_app_proto:
                    type: string
                    description: Base64-encoded PorterApp proto
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/alpha/projects/{project_id}/applications/{application_id}/build-settings:
    get:
      parameters:
        - name: project_id
          in: path
          description: Project ID that the application belongs to
          required: true
          schema:
            type: integer
            format: int64
          example: 123
        - name: application_id
          in: path
          description: ID of the application
          required: true
          schema:
            type: string
            format: uuid
            x-go-type: uuid.UUID
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: environment_groups
          in: query
          description: Environment groups the build should see, repeatable. Each must exist on the application's cluster. A key set by more than one group has no guaranteed winner, as at deploy time.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          example:
            - shared-config
      summary: Get application build settings
      description: Returns the push repository, non-secret build environment variables, and build template eligibility for an application
      operationId: get_application_build_settings
      security:
        - bearerAuth:
            - developer
      x-scalar-ignore: true
      x-scalar-stability: experimental
      tags:
        - Applications
      responses:
        '200':
          description: Build settings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApplicationBuildSettingsResponseBody'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/alpha/projects/{project_id}/applications/{application_id}/redeploy:
    post:
      parameters:
        - name: project_id
          in: path
          description: Project ID that the application belongs to
          required: true
          schema:
            type: integer
          example: 123
        - name: application_id
          in: path
          description: ID of the application
          required: true
          schema:
            type: string
            format: uuid
            x-go-type: uuid.UUID
          example: 123e4567-e89b-12d3-a456-426614174000
      summary: Redeploy application
      description: Redeploys all the services of an existing application with no changes to configuration
      operationId: redeploy_application
      security:
        - bearerAuth:
            - developer
      x-scalar-stability: experimental
      tags:
        - Applications
      responses:
        '200':
          description: Application redeployed successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/projects/{project_id}/applications/{application_id}/rename:
    patch:
      parameters:
        - name: project_id
          in: path
          description: Project ID that the application belongs to
          required: true
          schema:
            type: integer
          example: 123
        - name: application_id
          in: path
          description: ID of the application to rename
          required: true
          schema:
            type: string
            format: uuid
            x-go-type: uuid.UUID
          example: 123e4567-e89b-12d3-a456-426614174000
      summary: Rename application
      description: Updates the display name of an existing application
      operationId: rename_application
      x-scalar-ignore: true
      security:
        - bearerAuth:
            - developer
      x-scalar-stability: experimental
      tags:
        - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: New display name for the application
                  example: my-renamed-app
                  minLength: 1
                  maxLength: 31
      responses:
        '200':
          description: Application renamed successfully
          content:
            application/json:
              schema:
                type: object
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/alpha/projects/{project_id}/applications/{application_id}/set-node-group:
    post:
      parameters:
        - name: project_id
          in: path
          description: Project ID that the application belongs to
          required: true
          schema:
            type: integer
            format: int64
          example: 123
        - name: application_id
          in: path
          description: ID of the application
          required: true
          schema:
            type: string
            format: uuid
            x-go-type: uuid.UUID
          example: 123e4567-e89b-12d3-a456-426614174000
      summary: Set node group for application
      description: Sets the node group for all services in the application
      operationId: set_application_node_group
      security:
        - bearerAuth:
            - developer
      x-scalar-stability: experimental
      tags:
        - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetNodeGroupRequestBody'
      responses:
        '200':
          description: Node group set successfully
          content:
            application/json:
              schema:
                type: object
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/alpha/projects/{project_id}/applications/{application_id}/services/{service_name}:
    patch:
      parameters:
        - name: project_id
          in: path
          description: Project ID that the application belongs to
          required: true
          schema:
            type: integer
          example: 123
        - name: application_id
          in: path
          description: ID of the application
          required: true
          schema:
            type: string
            format: uuid
            x-go-type: uuid.UUID
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: service_name
          in: path
          description: Name of the service to patch
          required: true
          schema:
            type: string
          example: web-service
      summary: Patch application service
      description: |
        Updates specific fields of an application service

        The following fields are supported for the following service types:
        - web: instances, autoscaling
        - worker: instances, autoscaling

        Note:
        - If enabling autoscaling on a service where it was previously disabled, you must provide a type.
        - If enabling custom autoscaling, you must provide a metric name, query, and threshold.
      operationId: patch_application_services
      security:
        - bearerAuth:
            - developer
      x-scalar-stability: experimental
      tags:
        - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchApplicationServiceRequestBody'
      responses:
        '200':
          description: Service patched successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
[...]
